<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="background-color: #62919F !important;">
  <a class="navbar-brand abs" href="#"><strong>Klinic</strong></a>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-default btn-circle btn-lg">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-default btn-circle btn-lg">
            <fa-icon [icon]="faHome"></fa-icon>
          </button>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-default btn-circle btn-lg">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
